<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.natasha.scheduler_sem1" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/schedulericon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MyActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".addActivity"
            android:label="@string/addSched" >
        </activity>
        <activity
            android:name=".view"
            android:label="@string/viewSched" >
        </activity>
        <activity
            android:name=".calendarView"
            android:label="@string/title_activity_calendar_view" >
        </activity>
        <activity
            android:name=".daySched"
            android:label="@string/title_activity_day_sched" >
        </activity>
    </application>

</manifest>
